<ion-view cache-view="false"
          view-title="<img src='img/logo-rajakamar.png' style='margin-top:5px;height:30px;vertical-align:text-bottom'>">
    <ion-content scroll="false">

        <nav id='filters' class='filter-ui'></nav>

        <div id='map'
             style="height:100%;width:100%;position:relative;"
             data-tap-disabled="true">
        </div>

    </ion-content>
</ion-view>
