<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear button-light ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-balanced" style="color:#226611">
            <h1 class="title" style="color:#226611">HALAMAN SAYA</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-icon-right" style="font-size:14px;">
                    Masuk Kamar Rahasia
                    <i class="icon ion-key" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-icon-right" style="font-size:14px;">
                    Cek Pemesanan
                    <i class="icon ion-checkmark-circled" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browse" class="item-icon-right" style="font-size:14px;">
                    Hotel yang sudah saya lihat
                    <i class="icon ion-eye" style="color:#fbb217;font-size:24px;"><span
                            class="badge badge-energized">2</span></i>
                </ion-item>
                <div class="item item-divider balanced-bg" style="color:#226611">
                    LINK BERGUNA
                </div>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-icon-right" style="font-size:14px;">
                    Panduan Wisata
                    <i class="icon ion-map" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-icon-right" style="font-size:14px;">
                    Pertanyaan yang sering diajukan
                    <i class="icon ion-ios-help-outline" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-icon-right" style="font-size:14px;">
                    Hubungi Kami
                    <i class="icon ion-ios-telephone" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right" style="font-size:14px;"
                          ng-click="showDesktopSite()">
                    Versi Desktop
                    <i class="icon ion-laptop" style="color:#fbb217;font-size:24px;"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left energized-bg" style="color:#fff"
                          ng-click="login()">
                    <i class="icon ion-person" style="color:#fbb217"></i>
                    Login
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
