<ion-view cache-view="false" view-title="<img src='img/logo-rajakamar.png' style='margin-top:5px;height:30px;vertical-align:text-bottom'>">
<ion-content scroll="false">

  <div style="height:100%;position:relative;color:#226611;font-weight: bold;">
      <div class="row">
          <div class="col">Dimana kamu akan menginap</div>
      </div>
      <div class="row">
          <div class="col no-padding no-margin">
              <div class="list list-inset" style="margin:2px 2px;">
                  <span class="item item-input" style="padding: 0px 0 0px 10px">
                    <form ng-submit="playlistsCtrl.hideKeyboard()" style="width:100%">
                        <input type="text" id="location-input" placeholder="Search" ng-model="playlistsCtrl.location.locationName" >
                    </form>
                      <a class="button button-icon ion-close-circled container-item" ng-click="playlistsCtrl.clear()" style="color:#666;font-size:24px;"></a>
                  </span>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col col-40">
              Check-in
          </div>
          <div class="col col-20">
                Malam
          </div>
          <div class="col col-40">
                Check-out
          </div>
      </div>

      <div class="row full-height no-padding" style="position:relative;height:15%">
          <div class="col col-40 full-height">
              <div class="list list-inset full-height" style="margin:2px 2px;">
                  <span class="item item-input item-button-right full-height" style="max-height:50px;padding: 0px 0 0px 10px">
                      <div style="color:#226611;font-weight: bold">{{playlistsCtrl.date.checkin}}</div>
                      <a class="button button-icon ion-calendar" ng-click="playlistsCtrl.pickDateCheckin()" style="color:#226611;font-size:20px;right:0px;top:5px"></a>
                  </span>
              </div>
          </div>
          <div class="col col-20 full-height">
              <div class="list list-inset full-height" style="margin:2px 2px;">
                  <div class="item item-input full-height text-center" style="color:#226611;font-weight: bold;max-height:50px;padding:0 0px 0 0;display:block;line-height:50px;">
                        1
                  </div>
              </div>
          </div>
          <div class="col col-40 full-height">
              <div class="list list-inset full-height" style="margin:2px 2px;">
                  <span class="item item-input item-button-right full-height" style="max-height:50px;padding: 0px 0 0px 10px">
                      <div style="color:#226611;font-weight: bold">{{playlistsCtrl.date.checkout}}</div>
                      <a class="button button-icon ion-calendar" ng-click="playlistsCtrl.pickDateCheckout()" style="color:#226611;font-size:20px;right:0px;top:5px"></a>
                  </span>
              </div>
          </div>
      </div>

      <div class="row" style="padding-top:20px">
          <div class="col">Jumlah kamar</div>
      </div>

      <div class="row full-height">
          <div class="col col-33" style="height:15%;position:relative">

              <div class="list list-inset full-height" style="margin:10px 2px;">
                  <div class="item item-input full-height" style="padding: 0px 0 0px 0px;max-height:50px;">
                      <button class="button ion-minus button-block button-balanced no-margin" style="color:#226611;min-width:0px;width:25px;padding:0px;position:absolute;left:0"
                              ng-click="playlistsCtrl.substract()"></button>

                      <div style="width:100%;color:#226611;font-weight: bold;max-height:50px;padding:0;text-align:center;">
                          {{playlistsCtrl.total.kamar}}
                      </div>

                      <button class="button ion-plus button-block button-balanced no-margin" style="color:#226611;min-width:0px;width:25px;padding:0px;position:absolute;right:0"
                              ng-click="playlistsCtrl.add()"></button>
                  </div>
              </div>


          </div>
          <div class="col col-66">
              <button class="button ion-ios-search-strong button-block button-stable" style="color:#fff">
                 CARI HOTEL
              </button>

          </div>
      </div>

  </div>

</ion-content>
<div class="bar bar-footer bar-stable">
    <div class="title" style="color:#fff;font-size:12px;">Copyright ©2015. All rights reserved</div>
</div>
</ion-view>
