/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "lib/ionic/fonts" !default;

/* light-orange, orange, light-green, green */
$assertive: #f8c353 !default;
$positive:  #fbb217 !default;
$balanced:  #CADFC0 !default;
$stable:    #226611 !default;

$energized: #cccccc !default;
$royal:     #DD5A58 !default;

$dark:      #3F3F3F !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

