html, body, .container {
    height: 100%;
}

input[type="checkbox"] {
    min-height:25px;
    min-width:25px;
    margin-right:5px;
    float:left;
}
.filter-box {
    font-size:16px;
    height:35px;
    padding-top:3px;
}

.nav-bar-container .bar.bar-header {
    border-style: solid;
    border-color:#fbb217;
    border-width: 0 0 2px 0;
}

.full-height {
    height:100%;
}

.filter-ui {
    background:#fff;
    position:absolute;
    top:10px;
    right:10px;
    z-index:100;
    padding:10px;
    border-radius:3px;
    width:125px;
}

/* img responsive class */
.img-responsive {
    max-width: 100%;
    height: auto;
}

/* no padding */
.no-padding {
    padding: 0px !important;
}
/* no margin */
.no-margin {
    margin: 0px !important;
}
